@model List<Tp8.Models.Productos>


<div class="text-center">
    <h1 class="display-4">Lista Productos</h1>

      <table>
        <thead>
            <tr>
            <th>Id</th>
            <th>Descripcion</th>
            <th>Precio</th>
            </tr>
        </thead>

        <tbody>

    @foreach (var producto in Model)
    {
        <tr>
                    <td>@producto.idProducto</td>
                    <td>@producto.descripcion</td>
                    <td>$@producto.precio</td>
                </tr>
    }

  
        
        </tbody>
    </table>

</div>