@model List<Tp8.Models.Presupuestos>


<div class="text-center">
    <h1 class="display-4 text-center">Lista Prosupuestos</h1>

    <table class="table table-info container">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Destinatario</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var producto in Model)
            {
                <tr>
                    <th scope="row">@producto.idPresupuesto</th>
                    <td>@producto.nombreDestinatario</td>
                    <td>$@producto.FechaCreacion</td>
                </tr>
            }
        </tbody>
    </table>

</div>