@model List<Tp8.Models.Presupuestos>


<div class="text-center">
    <h1 class="display-4 text-center">Lista Prosupuestos</h1>

    <table class="table table-info container">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Destinatario</th>
                <th scope="col">Fecha</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var presupuesto in Model)
            {
                <tr>
                    <th scope="row">@presupuesto.idPresupuesto</th>
                    <td>@presupuesto.nombreDestinatario</td>
                    <td>@presupuesto.FechaCreacion</td>
                    <td>
                        <a type="button" class="btn btn-primary" asp-controller="Presupuestos" asp-action="AgregarProducto"
                            asp-route-id="@presupuesto.idPresupuesto">
                            Agregar Producto
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>