@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al tp8</h1>
   <a href="/gif/celebracion-messi-123-dedos-barcelona-mallorca-3Qo4gq" title="Celebración Messi 1,2,3 dedos Barcelona Mallorca"><img src="https://i.makeagif.com/media/1-29-2017/3Qo4gq.gif" alt="Celebración Messi 1,2,3 dedos Barcelona Mallorca"></a><div style="font-size:11px;"> </div>
</div>
